<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jesus1554/Sass-basis@1.1/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    {% block links %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}"><span class="scs-check"><i class="fas fa-info-circle"></i></span> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
<script src="{{ url_for('static', filename='js/rd.js') }}"></script>
</html>