@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import "_vars.scss";

body {
    font-family: 'Karla', sans-serif;
}

.lh-1 {
    line-height: 1.1;
}

.scs-check {
    margin-right: 1rem;
}

.success {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem 4rem;
    margin: 1rem 1.3rem;
    background-color: #6be619;
    color: #fff;
    list-style: none;
    border-radius: 2.2rem;
}

.danger {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem 4rem;
    margin: 1rem 1.3rem;
    background-color: #ff3613;
    color: #fff;
    list-style: none;
    border-radius: 2.2rem;
}


.a-linter {
    color: $azul-fuerte;
}

// Scroll bar
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #081d21;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.center-center {
    @include center(true);
}

// Buttons

.btn {
    color: $white;
    padding: 1.2rem 1.8rem;
    font-weight: 700;
    font-size: 2.2rem;
    text-decoration: none;
    border-radius: 2rem;
}

.btn-a {
    background-color: $azul;
}

.btn-b {
    background-color: $rojo;
}

.btn-danger {
    background-color: darken($color: $rojo, $amount: 20%);
}

// Start navigation
.site-navigation {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadce4;
    height: 12vh;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;

    @media (max-width: 928px) {
        justify-content: space-around;
    }
}

.logo {
    img {
        height: 6rem;
        padding: 0.5rem;
    }
    padding: 1rem 2rem;
}

.links {
    margin: 1rem 4rem 1.2rem 2rem;

    a {
        color: #000;
        text-decoration: none;
        margin: 1rem 2rem;
        padding: 2.4rem 1rem;

        @media (max-width: 989px) {
            &:first-child {
                border-top: none;
            }

            width: 100%;
            margin: 0 auto;
            display: block;
            padding: 3rem 5rem;
            border-top: 1px solid #cecece;

            &:hover {
                background-color: #cecece;
            }
        }
    }

    @media (max-width: 989px) {
        margin: 0;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 55%;
        // transform: translateX(100%);
        display: none;
        transition: all 0.2s ease-in;
    }
}

.nav-active {
    display: block;
}

.burger {
    display: none;
    cursor: pointer;

    div {
        width: 2.5rem;
        height: 2px;
        background-color: #000;
        margin: 5px;
    }

    @media (max-width: 989px) {
        display: block;
    }
}

.important-link {
    background-color: $azul-fuerte;
    color: $white !important;
    border-radius: 1.4rem;
}

// Ends navigation

.site-hero {
    min-height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto auto;
    @media (max-width: 920px) {
        align-items: stretch;
        justify-content: space-around;
        width: 95%;
        flex-direction: column;
        
    }
}

.text-hero {
    width: 60%;
    h1 {
        @media (max-width: 920px) {
            font-size: 5rem;
        }
        line-height: 1.1;
        font-size: 7rem;
        span {
            color: $rojo;
        }
    }
}
// We
.we {
    background-color: $rojo;
    color: $white;
    margin: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;

}


// Why
.why {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.wh-title {
    font-size: 6rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 3rem;
    @media (max-width: 827px){
        font-size: 4.5rem;
    }
}
.why-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    @media (max-width: 629px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.wh-el {
    // @include center(true);
    text-align: center;
    i {
        font-size: 5rem;
        color: darken($color: $amarillo, $amount: 20%);
    }
    h4 {
        font-size: 2.3rem;
    }
    p {
        line-height: 1.5;
    }
}
.beneficts {
    margin: 0;
    text-align: center;
    background-color: $azul;
    svg {
        display: block;
    }
}
.beneficts.upper {
    background-color: #fff;
}
.bn-title {
    margin-top: 0;
    font-size: 6rem;
    line-height: 1.2;
    @media (max-width: 525px) {
        padding-top: 3rem;
    }
}
.beneficts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding-bottom: 4rem;
}
.bn-el {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $azul-fuerte;
    color: $white;
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    width: 100%;
    text-align: center;
    border-radius: 2.2rem;
    i {
        color: $verde;
        margin-right: 0.5rem;
    }
}

// Footer
.w-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1e0935;
    padding: 1.2rem 0;
    color: white;
    text-align: center;
    a {
        color: #fff;
    }
}
// Login

.back {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    p {
        margin: 0 0 0 0.5rem;
        font-weight: 700;
        color: $verde;
    }
    i {
        font-size: 2.5rem;
        color: $verde;
    }
}

.login-body {
    height: 100vh;
    background-image: url('/static/img/bg-login.png');
    background-size: cover;
    background-position: center center;
    @include center(true);
}

.blob {
    height: 100vh;
    width: 100vh;
    position: relative;
}

.login-sty {
    padding: 4rem;
    text-align: center;
    position: absolute;
    border: 1px solid $azul;
    border-radius: 2rem;
    background-color: #fff;
    @include center(true);
    input {
        width: 100%;
        padding: 1rem 1.3rem;
        border-radius: 2rem;
        border: 2px solid $azul;
        margin: 1rem auto;
    }
    button {
        cursor: pointer;
        margin-top: 1.2rem;
        border: none;
        width: 100%;
    }
}

.signup-sty {
    @extend .login-sty;
    border: 1px solid $rojo;
    input {
        border: 2px solid $rojo;
    }
}

// Home
.p-links {
    display: flex;
    flex-direction: column;
}
.options-nav nav {
    transform: translateY(15vh);
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.home-father {
    article {
        &:first-child {
            border: 2px solid $rojo;
        }
        border: 2px solid saturate($color: $azul, $amount: 10%);
    }
}

.home-action {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
    padding: 1rem;
}
.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
        font-size: 4rem;
        color: $azul-fuerte;
        margin: auto 1rem;
    }
}

.buttons-side {
    width: 17rem;
    a {
        display: block;
        text-align: center;
        width: 100%;
    }
}

#file {
    button {
        background-color: $azul;
    }
}
